body {
    background-color: #f5f5dd;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


div {
    width: 100px;
    height: auto;
    margin: 10px;


}

.content {
    height: 100px;
}

.content-box1 {

    background-color: black;

}

.content-box2 {

    background-color: rgba(0, 0, 0, 0.5)
}

.content-box3 {

    background-color: rgba(0, 0, 0, 0.25)
}

.content-box4 {

    background-color: rgba(0, 0, 0, 0.1)
}

